body {
    margin: 0;
    font-family: var(cursive);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.container.my-4 {
    background-image: linear-gradient(45deg, gray, white);
    padding: 100px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

a.btn.btn-primary.btn-lg.mt-4.text-center {
    background-color: rgba(13, 110, 253, 0.25);
}

button.btn.btn-outline-success {
    border: 2px solid green;
    color: green;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: gray;
}